[Desktop Entry]
Name=wifiheatmap
Exec=env XDG_SESSION_TYPE=x11 wifiheatmap %f
Icon=com.github.weimens.wifiheatmap
Type=Application
MimeType=application/x-extension-whmap;

